<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
		<link rel="stylesheets" type="text/css" href="~/Content/css/UmbrellaStyles.css">

</head>
<body>
		<div style="titlebar">
            <h3 style="titletext">This is the title bar</h3>
        </div>
	@RenderBody()
</body>
</html>
