@{
    ViewBag.Title = "Cafes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "umbrellabg"></div>
    <br/>
    <heading>Blackburn Cafe</heading>
    <br/>
    <label>
        Our Blackburn Umbrella Dementia Cafés group is made up of couples and individuals of all ages living in the community who have been diagnosed with a dementia disease such as (but not limited to) Alzheimer’s, Parkinson's, Lewy Bodies, Frontal Lobe Dementia and Vascular Dementia.
    </label>
    <br/>
    <center>
        <img title="Blackburn Cafe Session" src="~/Content/images/UmbrellaEvents.jpg"/>
        <label class="imglabel">Blackburn Cafe Session</label>
    </center>
    <br/>
    <subheading>Where?</subheading>
    <br/>
    <label> 
        Function Room 2,
		<br/>One. Community Church, 
        <br/>184 Surrey Road, Blackburn, VIC 3130.
        <label style="font-size: 14px">Lots of parking, disability friendly and non-faith bias.</label>
	</label>
		<subheading>When?</subheading>
    <br/>
    <label> 
        First Tuesday of each month from 10am - 12 noon.
    </label>
			<subheading>Who?</subheading>
    <br/>
    <label> 
        Individuals, couples and families living in the community living with with early to mid-onset dementia (all types).  As safety is a priority for us, we require those who have mid-onset dementia bring their support person to stay at the café as their family carer.   (Carers to stay with full responsibility for the person living with dementia).
    </label>
            <subheading>Cost</subheading>
    <br/>
    <label> 
         $5 entry.  To help cover cost of equipment and resources for next café.
    </label>
</div>


