@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<div style="align-content: center">
	<center>
		<img class="aboutpicture" src="~/Content/images/UmbrellaHandprints.png"/>
	</center>
</div>-->
	
<div class="aboutdiv">
		<div class= "aboutusbg"></div>
	<br/>
    <heading>Our Story</heading>
    <br/>
    <label>
        It all started when founder and Registered Nurse Kirsty Porter, was holidaying in the UK in January 2016.  Curious, after reading a newspaper article about a dementia cafe in a small village Wymondham, Norfolk, Kirsty visited this socialising hub specifically created to supports the needs of local couples and individuals living with dementia in the local community.
    </label>
    <br/>
    <label>
        After meeting Founder, Trevor Brown, and Secretary, Rita Harris, and learning about their 9 year history together, it was obvious the overwhelming value the Pabulum Cafe had on the whole community.  The most obvious and exciting was the precious autonomy the group enjoyed.  They were welcoming select healthcare professional into their cafe to present about their services or products.   
    </label>
	<center>
		<img title="Trevor Brown, Rita Harris & Kirsty Porter" src="~/Content/images/UmbrellaTrevorRita.jpg"/>
		<label class="imglabel">Trevor Brown, Rita Harris & Kirsty Porter</label>
	</center>
	<br/>
    <heading>Mission Statement</heading>
    <br/>
    <label>
		<b>1. Autonomy</b> - The person living with dementia is at the centre of everything that we do, provide and create.  
        <br/><br/>
        <b>2. Connectivity</b> - To open up the conversation about dementia in a positive safe place.  Collate ideas of living better and longer at home through shared knowledge, technology and innovation. 
        <br/><br/>
        <b>3. Awareness</b> - Everyone involved in the cafés directly or indirectly receive education about dementia, how dementia diseases can be supported and why it is important to be connected to the community.  This awareness also purports to de-stigmatise dementia diseases. 
		<br/><br/>
        <b>4. Dementia-friendly community</b> - Integrating dementia support into the cafés and in-turn engage with local organisations to adapt their environment or services to include people living with dementia. 
	</label>
</div>

