@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="align-content: center">
	<center>
		<img class="aboutpicture" src="~/Content/images/UmbrellaHandprints.png"/>
	</center>
</div>
<div class="aboutdiv">
    <label class="aboutpicture-label">Our Story</label>
    <br/>
    <br/>
    <p>
        It all started when founder and Registered Nurse Kirsty Porter, was holidaying in the UK in January 2016.  Curious, after reading a newspaper article about a dementia cafe in a small village Wymondham, Norfolk, Kirsty visited this socialising hub specifically created to supports the needs of local couples and individuals living with dementia in the local community.
    </p>
    <br/>
    <p>
        After meeting Founder, Trevor Brown, and Secretary, Rita Harris, and learning about their 9 year history together, it was obvious the overwhelming value the Pabulum Cafe had on the whole community.  The most obvious and exciting was the precious autonomy the group enjoyed.  They were welcoming select healthcare professional into their cafe to present about their services or products.   
    </p>
</div>


