<html>
    <head>
		<title>@ViewData["Title"]</title>
	</head>
    <body>
		<div style="background-color: gray; height: 100px;">
			Image gallery goes here.
		</div>
        <div>
            <div class="quarterdivs">The Cafes</div>
			<div class="quarterdivs">Events</div>
			<div class="quarterdivs">Shop</div>
			<div class="quarterdivs">Donate</div>
        </div>
	</body>
</html>
