@{
    ViewBag.Title = "Children";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "childrenbg"></div>
    <br/>
    <heading>Children</heading>
    <br/>
    <label>
        The children from the local primary school provide the enthusiasm, laughter and fun!  They are hands on the entire morning and are truly magical at every café. 
    </label>
    <br/>
    <label>
        These children are crucial to our dementia awareness plight as they represent the beginning of a de-stigmatised dementia society.
    </label>
    <br/>
    <label>
        The café maintains strict visitors policy and procedures to ensure the protection of the children.  
    </label>
    <br/>
</div>

