@{
    ViewBag.Title = "Community Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "comminfobg"></div>
    <br/>
    <heading>Community Information</heading>
    <br/>
    <label>
        Umbrella Dementia Cafés are proud to display locally resourced brochures and information about support services offering more choices for you and your family.
    </label>
    <br/>
    <label>
        After every month, the group of volunteers meet to discuss what resources we need as a group and kindly resource information for us to consider when we meet again at our next café.
    </label>
    <br/>
    <label>
        This includes information about counselling services, referrals to GPs who understand our needs, home care support services and other organisations who are offering socialisation support services.
    </label>
    <br/>
</div>

