@{
    ViewBag.Title = "Information Nights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "infonightsbg"></div>
    <br/>
    <heading>Information Nights</heading>
    <br/>
    <label>
        Very soon, we will be releasing dates to invite the general public to a fund-raising information night.  This night looks to include Key Note Speakers and Influential Dementia Advocates.  
    </label>
    <br/>
    <label>
        Send us an email if you would like to know about this date as soon as it is released.  You can send an email through our contacts page or contact us on this email:
<a href="mailto: equiries@UmbrellaDementiaCafes.com.au">equiries@UmbrellaDementiaCafes.com.au</a>
    </label>
    <br/>
</div>

