@{
    ViewBag.Title = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "musicbg"></div>
    <br/>
    <heading>Music</heading>
    <br/>
    <label>
        Music bonds us as a group and is included in our program in two very important ways:
    </label>
    <br/>
    <label>
        Firstly we are very lucky to enjoy 1:1 music therapy with local music therapist, Amy Thomas, who donates her time every month.  She works with individuals in response to emotional memory and wellness needs.
    </label>
    <br/>
    <label>
        Second, we sing together and use music to truly bond us as a group, which of course creates a joyful morning tea experience. We look forward to a big Singing Café in September 2017 with
<a href="http://www.dryvonneho.com" target="_blank">Dr. Yvonne Ho AM</a>
    </label>
    <br/>
</div>

