@{
    ViewBag.Title = "Professional Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "profedubg"></div>
    <br/>
    <heading>Professional Education</heading>
    <br/>
    <label>
        Many dementia cafés around the world use health care professionals to visit the café and present about valuable information such as; dementia awareness, how to live better while living with dementia and what services are available to them in the community.  
    </label>
    <br/>
    <label>
        We too have started developing this aspect of the café's program with professionals presenting about respite planning, the importance of dancing, physical wellness, and incorporating creative activities at home.  
    </label>
    <br/>
    <label>
        Professional Education sessions are person-centred at our cafés and resourced as we need them. 
    </label>
    <br/>
</div>

