@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutdiv">
        <div class= "volunteerbg"></div>
    <br/>
    <heading>Volunteers</heading>
    <br/>
    <label>
        All our volunteers receive informal training about 'what is dementia?', how to link into local support services and they all have an understanding of our abilities and needs. Volunteers recognise it's vital to work WITH us, not FOR us, to encourage independence, dignity, connection and movement during each café event.
    </label>
    <br/>
    <label>
        We welcome ex-carers to our group too and retired care-givers who would like stay connected to their community.
    </label>
    <br/>
    <label>
        We also have a strong volunteer group committed to providing a delicious and healthy morning tea each month.
    </label>
    <br/>
</div>

